<div class="alanhohn-markdown-bar">
    <div id="markdown-button-bar">
        <button id="markdown-heading1" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H1}}">{{Strings.BUTTON_H1}}</button>
        <button id="markdown-heading2" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H2}}">{{Strings.BUTTON_H2}}</button>
        <button id="markdown-heading3" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_H3}}">{{Strings.BUTTON_H3}}</button>
        <div class="spacer"></div>
        <button id="markdown-bold" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_BOLD}}">{{Strings.BUTTON_BOLD}}</button>
        <button id="markdown-italic" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_ITALIC}}">{{Strings.BUTTON_ITALIC}}</button>
        <button id="markdown-strikethrough" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_STRIKE}}">{{Strings.BUTTON_STRIKE}}</button>
        <div class="spacer"></div>
        <button id="markdown-bullet" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_BULLET}}">{{Strings.BUTTON_BULLET}}</button>
        <button id="markdown-numbered" class="btn no-focus" tabindex="-1" title="{{Strings.HINT_NUMBERED}}">{{Strings.BUTTON_NUMBERED}}</button>
    </div>
</div>
